@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,td,figure{margin:0;padding:0;}
body{font:12px  "宋体"; word-wrap:break-word;}
a,u,s,del{color:#666;text-decoration:none;}
fieldset ,a img,.bor0{border:0;}
i,em,b{font-style:normal;font-weight:100;}
li{list-style:none;}
img{vertical-align:middle;}
table{border-collapse:collapse;}/*细线边框*/
input,textarea{outline:none;}/*去除google的input虚框*/
textarea{resize:none;}/*静止拖动*/